body {
    background-color: #f8f8f8;
    font-family: 'Segoe UI', sans-serif;
    margin: 40px;
    color: #333;
}

h1 {
    color: #0066cc;
}
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}
button:hover {
    background-color: #0056b3;
}